.suggestedperson-mi{
    display: flex;
    justify-content: space-between;
}
.sp-mi-userinfo{
    display: flex;
    gap: 10px;
}
.sp-mi-userinfo a{
    text-decoration: none;
    color: black;
}
.sp-mi-userpicture{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: rgb(214, 245, 246);
    overflow: hidden;
    cursor: pointer;
}
.sp-mi-userpicture img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.sp-mi-names-cont{
    display: flex;
    flex-direction: column;
    cursor: pointer;
}
.sp-mi-follow-btn{
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: rgb(103, 215, 103);
    border: none;
    cursor: pointer;
    font-size: 14px;
    color: black;
}
.sp-mi-unfollow-btn{
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: rgb(235, 93, 93);
    border: none;
    cursor: pointer;
    font-size: 14px;
    color: black;
}
.sp-mi-spinner{
    color:rgba(255, 255, 255, 0.637);
    font-size: 20px;
}